<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p class="footer-text">&copy; David-San</p>
        <p class="footer-link"><a class="link" href="/contacts">Contact Me!</a></p>
      </div>
    </div>
</footer>
  