<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p class="footer-text">&copy; David-San</p>
        <ul class="footer-links">
          <li><a href="/about" class="link">About Us</a></li>
          <li><a href="/contacts" class="link">Contact Us</a></li>
        </ul>
      </div>
    </div>
</footer>
  