<footer class="footer">
    <div class="container">
      <div class="footer-content">
        <p class="footer-text">&copy; David-San</p>
        <ul class="footer-links">
          <li><a href="/about">About Us</a></li>
          <li><a href="/contacts">Contact Us</a></li>
        </ul>
      </div>
    </div>
</footer>
  