<nav id="navbar">
    <ul>
        <li>
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/artworks">Arts</a>
        </li>
        <li>
            <a href="/exhibitions">Exhibitions</a>
        </li>
        <li>
            <a href="/about">About</a>
        </li>
        <li>
            <a href="/contacts">Contact</a>
        </li>
    </ul>
</nav>
<img id="hamburger" src="/staticImages/hamburger-black.png" alt="" width="50px" height="50px">