<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/footer.css">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/about.css">
    <title>David-San</title>
</head>
<body>
    <nav id="navbar">
		<ul>
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="/artworks">Arts</a>
			</li>
			<li>
				<a href="/exhibitions">Exhibitions</a>
			</li>
			<li>
				<a href="/about">About</a>
			</li>
			<li>
				<a href="/contacts">Contact</a>
			</li>
		</ul>
	</nav>
	<img id="hamburger" src="staticImages/hamburger-black.png" alt="" width="50px" height="50px">


    <h1>About</h1>
    <hr id="header-hr">

    <div id="about-content">
        <img id="about-photo" src="staticImages/about-photo.jpg" alt="About image">

        <h2>SERGEY DAVIDOVICH</h2>
        <pre>
            lives and works actively in Minsk, Moscow,
            Saint Petersburg, Vienna and Amsterdam.
            After meeting and studying with the famous Vitebsk artist Vladimir Shappo,
            he entered and graduated from BNTU with a degree in Architecture.
            Raised in a family of architects, from an early age he admired the work of Le Corbusier,
            his paintings and the revolution in architecture.
            The magic of Hunderwasser’s transformations of architecture and painting,
            the futurism of Tatlin’s objects, and Melnikov’s incredible spaces excited him.
            In love with the works of Chagall, Lisitsky and Malevich,
            he went to Vitebsk after graduation
            And stayed there for a few years.
            Inspired by the atmosphere of the city, imbued with the art of the world’s greatest masters,
            Sergey experiments a lot. Collage, watercolor, acrylic shapes, oil,
            etchings, object design, interior and space design, architectural projects.
        </pre>

        <h3>Architecture</h3>
        <pre>
            To shred space, to look into the future and endure the cruelty of the system of
            standards, endless protocols and approvals, that
            irons trenches and destructs everything and everyone
            like BIG WILLY of the World War I…
            And, in spite of everything, to resurrect again in each new project.
        </pre>

        <h3>Painting</h3>
        <pre>
            Subtlety. Love. Loneliness. “Showdown” with yourself. Hermit’s cell.
            A place, where you can patch your soul with alizarin threads.
            To save and to be saved in a new canvas.
            To take a run… From a sheer cliff. To dive into the ultramarine ocean and to be reborn.
        </pre>

        <pre>
            His works are located in private collections in Belarus, Russia, France, Germany, Lithuania,
            Austria, Italy, France, and Sweden.

            Location of objects – Belarus, Russia, Austria, Lithuania, the Netherlands.
        </pre>

        <h3>SV</h3>
        <pre>
            Why painting? I devoted a huge chunk of my life to architectural practice. 
            Working as an architect I have created and implemented many projects from private 
            houses to large multifunctional complexes in different cities of the World. 
            But to be an architect is to be addicted.
            Therefore painting.

            Because I started painting long before I became an architect,
            and if architecture is a profession, then painting is love.

            That is probably all I can say …
            To say by using words.
            Because there are other Muses for thoughts that can be clothed in the form of words.
            But there is still a lot of things, that I would like to tell you.
            Fortunately, there is another language.
            The language, that will not let you lie,
            The language, that doesn’t need any translation.
        </pre>

    </div>
    <%- include('partials/footer') %>
    <script src="scripts/navbar-top.js"></script>
</body>
</html>