<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacts</title>
</head>
<body>
    <h1>Sergey Davidovich</h1>
    <p><strong>Email:</strong> davidovich.sergey@gmail.com</p>
    <p><strong>Instagram:</strong> <a href="https://www.instagram.com/davidovich.sergey/">Instagram</a></p>
    <p><strong>Facebook:</strong> <a href="https://www.facebook.com/davidovich.sergey">Facebook</a></p>
    <a href="/">Back</a>
</body>
</html>
