<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Contacts</title>
  <link rel="stylesheet" href="/stylesheets/footer.css">
</head>

<body>

  <body>
    <h1 class="artist-name">Sergey Davidovich</h1>
    <p class="contact-info"><strong>Email:</strong> davidovich.sergey@gmail.com</p>
    <p class="contact-info"><strong>Instagram:</strong> <a href="https://www.instagram.com/davidovich.sergey/">Instagram</a></p>
    <p class="contact-info"><strong>Facebook:</strong> <a href="https://www.facebook.com/davidovich.sergey">Facebook</a></p>
    <a href="/" class="back-button">Back</a>

    <%- include('partials/footer') %>
  </body>
</body>

</html>