<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/navbar.css">
    <link rel="stylesheet" href="stylesheets/homepage.css">
    <title>David-San</title>
</head>
<body>

    <img id="home-bg" src="staticImages/home-bg.jpg" alt="background image">

    <img id="hamburger" src="staticImages/hamburger.png" alt="" width="50px" height="50px">

    <aside id="sidebar">
        <img id="logo" src="staticImages/logo.jpg" alt="logo">
        <nav id="navbar">
            <ul>
                <li>
                    <a href="">Arts</a>
                </li>
                <li>
                    <a href="">Exhibitons</a>
                </li>
                <li>
                    <a href="">About</a>
                </li>
                <li>
                    <a href="">Contact</a>
                </li>
            </ul>
        </nav>
        <p id="copyright">Copyright</p>
    </aside>

    <h1 id="sb-name">SERGEY DAVIDOVICH</h1>


    <script src="scripts/navbar.js"></script>

</body>
</html>