<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/homepage.css">
    <title>David-San</title>
</head>
<body>

    
    <div id="home-bg">
        <img class="slideshow-image active" src="staticImages/home-bg1.jpg" alt="">
        <img class="slideshow-image" src="staticImages/home-bg2.jpg" alt="">
        <img class="slideshow-image" src="staticImages/home-bg3.jpg" alt="">
        <img class="slideshow-image" src="staticImages/home-bg4.jpg" alt="">
    </div>

    <img id="hamburger" src="staticImages/hamburger.png" alt="" width="50px" height="50px">

    <aside id="sidebar">
        <img id="logo" src="staticImages/logo.jpg" alt="logo">
        <nav id="navbar">
            <ul>
                <li class="arts-category">
                    <a href="/artworks">Arts</a>
                </li>
                <li class="exhibitions-category">
                    <a href="/exhibitions">Exhibitons</a>
                </li>
                <li class="about-category">
                    <a href="/about">About</a>
                </li>
                <li class="contact-category">
                    <a href="/contact">Contact</a>
                </li>
            </ul>
        </nav>
        <p id="copyright">Copyright</p>
    </aside>

    <h1 id="sb-name">SERGEY DAVIDOVICH</h1>


    <script src="scripts/navbar.js"></script>
    <script src="scripts/homeanim.js"></script>

</body>
</html>