p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
#email {
    font-size: 30px;
}
#email-desc {
    margin-bottom: 10px;
}
#email-info {
    margin-bottom: 100px;
}

h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.social-network {
    margin: 50px;
}