p {
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
}
#email {
    font-size: 30px;
}
#email-desc {
    margin-bottom: 10px;
    margin-right: 30px;
    margin-left: 30px;
}
#email-info {
    margin-bottom: 100px;
}

h2 {
    font-size: 35px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
#social-networks {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}
.social-network {
    margin: 50px;
}

@media(max-width: 500px) {
    #email {
        font-size: 25px;
    }
    h2 {
        font-size: 25px;
    }
    img {
        width: 70px;
        height: 70px;
    }
}