
/* Error Text */
.error-text {
    font-size: 1.2rem;
    color: #444;
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

/* Home Link */
.home-link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    font-weight: 800;
    font-size: 1rem;
    text-align: center;
    margin-bottom: 2rem;
}

.home-link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.home-link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}
