#short-desc {
    font-size: 20px;
    text-align: center;
    font-family: 'Nunito', sans-serif; /* Cursive must be added!!! */
    margin-bottom: 30px;
}
#norm-desc {
    font-size: 30px;
    text-align: center;
    margin-bottom: 50px;
    font-family: 'Nunito', sans-serif;
}
.image-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.image-container img {
    margin-bottom: 40px;
    width: 1000px;
}

.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.buttons {
    display: flex;
    margin-bottom: 40px;
}

.btn {
    font-family: 'Nunito', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin: 20px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.2s ease-in-out;
    background-color: white;
    border: none;
    cursor: pointer;
}

.btn:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

@media only screen and (max-width: 1100px) {
    .image-container img {
        width: 80vw;
    }
    h1 {
        font-size: 35px;
    }
}
