#exhibitions-container {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.exh-title {
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.exh-desc {
    text-align: center;
    margin-bottom: 20px;
}

.exhibition img {
    width: 500px;
}

.exhibition {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-top: 2px solid #ececec;
    margin-bottom: 20px;
}

.exh-title {
    font-family: 'Nunito', sans-serif;
    font-size: 30px;
}
.exh-desc {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
}

.exhibition:first-child {
    border-top: none;
}

.edit-button {
    background-color: #d6d6d6;
    color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    margin: 30px 0;
    max-width: 159.61px;
}

.edit-button:hover {
    background-color: #fff;
    color: #000;
}

.edit-button:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.5);
}

#show-more-btn {
    display: inline-block;
    background-color: white;
    color: #000000;
    border: none;
    border-bottom: 2px solid transparent;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    padding: 12px 24px;
    margin: 20px 0;
    cursor: pointer;
    transition: border-color 0.3s;
}

#show-more-btn:hover {
    border-bottom: 2px solid black;
}

@media screen and (max-width: 550px) {
    .exhibition img {
        width: 90vw;
    }
}