.footer {
    /* background-color: aliceblue; */
    background: linear-gradient(to bottom, #fff, #a8a8a8);
    font-family: 'Nunito', sans-serif;
}

.footer-text {
    margin: 20px;
    color: rgb(0, 0, 0);
    font-weight: 800;
}

.footer-links {
    margin: 20px;
}

.link {
    color: rgb(0, 0, 0);
    text-decoration: none;
    position: relative;
    font-weight: 800;
}

.footer-link {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: rgb(0, 0, 0);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}