.footer {
    background-color: rgb(44, 44, 44);
    font-family: 'Nunito', sans-serif;
}

.footer-text {
    margin: 20px;
    color: white;
}

.footer-links {
    margin: 20px;
}

.link {
    color: white;
    text-decoration: none;
    position: relative;
}

li {
    margin-top: 10px;
    margin-bottom: 10px;
}

.link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    height: 2px;
    width: 100%;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.2s ease-in-out;
}

.link:hover::after {
    visibility: visible;
    transform: scaleX(1);
}

.footer-content {
    display: flex;
    align-items: center;
    justify-content: space-around;
}