* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: space-between;
}
a {
  position: relative;
  text-decoration: none;
  color: #000;
}

a::before {
  content: ''; 
  position: absolute; 
  left: -160px; 
  top: 50%;
  transform: translateY(-50%); 
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-out; 
}
a:hover::before {
  width: 140px;
}

#hamburger {
    display: none;
}
#logo {
    margin-top: 30px;
}
#home-bg {
    height: 100vh;
    width: 80vw;
    object-fit: cover;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
    margin-right: 3vw;
    height: 100vh;
}
#sb-name {
    font-size: 70px;
    position: absolute;
    color: grey;
    letter-spacing: 5px;
    right: 3vw;
    bottom: 17%;
    font-family: 'Montserrat', sans-serif;
}
#navbar ul li {
    font-family: 'Nunito', sans-serif;
    text-align: right;
    font-size: 25px;
    margin: 15px 0;
}
#copyright {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}
@media (max-width: 1730px) {
    a::before {
        left: -100px;
    }
    a:hover::before {
        width: 100px;
    }
}
@media (max-width: 1400px) {
    a::before {
        left: -70px;
    }
    a:hover::before {
        width: 70px;
    }
}
@media (max-width: 1200px) {
    #home-bg {
        width: 100vw;
    }
    #sidebar {
        width: 0px;
        overflow: hidden;
        background-color: white;
        margin: 0;
        position: absolute;
        right: 0;
        transition: 0.3s;
    }
    #sidebar.active {
        width: 47vw;
        padding-right: 3vw;
    }
    #hamburger {
        display: inline-block;
        position: absolute;
        left: 3vw;
        top: 2vh;
        z-index: 100;
    }
    #sb-name {
        font-size: 50px;
    }
}
@media (max-width: 700px) {
    #sb-name {
        font-size: 40px;
        text-align: center;
        right: 0;
        left: 0;
    }
    #sidebar {
        z-index: 100;
    }
}