* {
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: space-between;
}
a {
  position: relative;
  text-decoration: none;
  color: #000;
  padding-left: 10px;
}

a::before {
  content: ''; 
  position: absolute; 
  left: -160px; 
  top: 50%;
  transform: translateY(-50%); 
  width: 0;
  height: 2px;
  background-color: #000;
  transition: width 0.3s ease-out; 
}
a:hover::before {
  width: 140px;
}

#logo {
    margin-top: 30px;
}
#home-bg {
    height: 100vh;
    width: 80vw;
    object-fit: cover;
}
#sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    width: 15vw;
    margin-right: 3vw;
    height: 100vh;
}
#sb-name {
    font-size: 70px;
    position: absolute;
    color: grey;
    letter-spacing: 5px;
    right: 3vw;
    bottom: 17%;
    font-family: 'Montserrat', sans-serif;
}
#navbar ul li {
    font-family: 'Nunito', sans-serif;
    text-align: right;
    font-size: 25px;
    margin: 15px 0;
}
#copyright {
    font-family: 'Nunito', sans-serif;
    font-size: 20px;
    margin-bottom: 30px;
}