<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Exhibitions</title>
</head>

<body>
  <h1>Exhibitions</h1>
  <ul>
    <% exhibitions.forEach(function(exhibition) { %>
    <li>
      <%= exhibition.title %>
      <ul>
        <% exhibition.artworks.forEach(function(artwork) { %>
        <li><img src="<%= artwork.image %>" alt="<%= artwork.title %>"></li>
        <% }); %>
      </ul>
    </li>
    <% }); %>
  </ul>
  <a href="/exhibitions/new">Create New Exhibition</a>
</body>

</html>