<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>New Exhibition</title>
</head>

<body>
  <h1>Create New Exhibition</h1>
  <form action="/exhibitions" method="POST">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" required>
    <br><br>
    <label for="description">Description:</label>
    <textarea name="description" id="description" required></textarea>
    <br><br>
    <label for="location">Location:</label>
    <input type="text" name="location" id="location" required>
    <br><br>
    <label for="startDate">Start Date:</label>
    <input type="date" name="startDate" id="startDate" required>
    <br><br>
    <label for="endDate">End Date:</label>
    <input type="date" name="endDate" id="endDate" required>
    <br><br>
    <label for="artworks">Artworks:</label>
    <select name="artworks" id="artworks" multiple>
      <% artworks.forEach(function(artwork) { %>
      <option value="<%= artwork._id %>"><%= artwork.title %></option>
      <% }); %>
    </select>
    <br><br>
    <button type="submit">Create Exhibition</button>
  </form>
</body>

</html>